@import '../../theme';

.header {
  background-color: $primary-background-color;
  padding-bottom: 10px;
  padding-top: 10px;

  @media only screen and (max-width: $mobile-width) {
    background-color: unset;
  }
}

.header_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: $wrapper;
  margin-left: auto;
  margin-right: auto;
  padding-left: $wrapper-padding;
  padding-right: $wrapper-padding;

  @media only screen and (max-width: $mobile-width) {
    justify-content: center;
  }
}
